name: Synapse Dedicated SQL Pool deploy
on: workflow_dispatch 
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout sqlproj
        uses: actions/checkout@v3
        
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
        
      - name : Build dacpac
        run: |
          msbuild.exe '${{github.workspace}}/dedicated-sqlpools/dw01/dw01.sqlproj' /p:Configuration=Release
          
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: SQLPool
          path: ${{ github.workspace }}/dedicated-sqlpools/dw01/bin/Release/
      
  deploy:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: SQLPool
 
      - run: Get-ChildItem SQLPool -Recurse
       
      - name: Azure Login
        uses: Azure/login@v1
        with:
           creds: '{"clientId":"${{ secrets.ACTION_SPN_CLIENTID }}","clientSecret":"${{ secrets.ACTION_SPN_SECRET }}","subscriptionId":"${{ secrets.SUBSCRIPTION_ID }}","tenantId":"${{ secrets.TENANT_ID }}"}'
           
      - name: Deploy dacpac
        uses: Azure/sql-action@v1.3
        with:
           server-name: ba-synapse01-kn3acb6lw3vr4.sql.azuresynapse.net
           connection-string: ${{secrets.DWH_CONNECTIONSTRING}}
           path: './dw01.dacpac'
           action: 'Publish'
           arguments: '/p:DropPermissionsNotInSource=false /p:DropRoleMembersNotInSource=false /p:DropObjectsNotInSource=true /p:IgnoreColumnOrder=true /p:IgnorePermissions=true /v:DatalakeEndpoint="bastoragedatalake01.dfs.core.windows.net"'
      - name: Azure Logout
        run: |
            az logout
